.content {
	float: none;
	width: 100%;
	margin: 0 auto;
}

hr {
	height: 2px;
}

table,
th,
td {
	border: 1px solid #c8ccd1;
	border-collapse: collapse;
}

figure {
	margin: 2.4rem auto;
}

figcaption {
	margin: 0.8rem 0;
	font-size: 1.2rem;
	line-height: 1.5;
	text-align: center;
}

.post__table td {
	padding: 4px;
}

.post__title {
	margin-top: 0;
}

.post--card .post__title {
	margin-top: 1.6rem;
	font-size: 3.2rem;
}

.banner__intro,
.post__excerpt {
	font-size: 2rem;
	font-style: italic;
	font-weight: 100;
}

.post__content > p,
.post__content > ul {
	margin: 1.2rem auto;
}

.post__content li,
.post__content > p {
	color: #202122;
	font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
	letter-spacing: 0.05px;
}

.post__content .post__small {
	margin: 0;
	font-size: 1.6rem;
}

.post__content .post__authors {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Lato', 'Helvetica', 'Arial', sans-serif;
	font-size: 1.6rem;
}

.post__content footer p {
	margin-bottom: 2rem;
	line-height: 1.2;
}

.banner {
	display: flex;
	margin-bottom: 12rem;
}

.banner__content {
	padding-top: 0;
	padding-left: 2rem;
}

.banner__heading {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Lato', 'Helvetica', 'Arial', sans-serif;
	font-size: 3.5rem;
	font-weight: 800;
}

.alignwide {
	width: 80vw;
	max-width: 80vw;
	margin-left: calc( 50% - 40vw );
}

.columns {
	display: flex;
}

.half-width {
	width: 300px;
	margin: 0 20px;
}

.half-width.centered {
	margin: 0 auto;
}

.third-width {
	width: 200px;
	margin: 0 20px;
}

.third-width.centered {
	margin: 0 auto;
}

.pagination {
	text-align: center;
}

.pagination .page_number {
	margin: 0 3rem;
}

.figure--image > img,
.figure--video > video {
	display: block;
	min-height: 300px;
	max-width: 100%;
	max-height: 50vh;

	/* Prevent small media objects from losing their original aspect ratio, see T313362. */
	object-fit: contain;
}

.figure--audio {
	width: fit-content;
	margin: 1.6rem auto;
}

@media ( min-width: 780px ) {
	.content {
		width: 720px;
	}

	.banner__content {
		padding-top: 3rem;
	}
}
