---
title: Wikimedia Design Blog
layout: default
---

<div class="home">
  {{ content }}
  {%- if site.posts.size > 0 -%}
    <main class="post-list">
      {%- for post in site.posts -%}
      <article class="post post--card">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <img src="{{post.image}}" alt="{{ post.title }}">
        <h1 class="post__title">
          <a class="post__link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h1>
        <p class="post__excerpt">{{ post.excerpt }}</p>
        <hr>
      </article>
      {%- endfor -%}
    </main>
  {%- endif -%}
</div>
